Weather Prediction Using NaiveBayes Algorithm

In [2]:
#Weather Prediction Using NaiveBayes Algorithm

import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [28]:
#Reading CSV files
df = pd.read_csv("/content/drive/MyDrive/weather_prediction_dataset.csv")
df

     Outlook  Temp Humidity Wind Play
0      Rainy   Hot     High    f   no
1      Rainy   Hot     High    t   no
2   Overcast   Hot     High    f  yes
3      Sunny  Mild     High    f  yes
4      Sunny  Cool   Normal    f  yes
5      Sunny  Cool   Normal    t   no
6   Overcast  Cool   Normal    t  yes
7      Rainy  Mild     High    f   no
8      Rainy  Cool   Normal    f  yes
9      Sunny  Mild   Normal    f  yes
10     Rainy  Mild   Normal    t  yes
11  Overcast  Mild     High    t  yes
12  Overcast   Hot   Normal    f  yes
13     Sunny  Mild     High    t   no

In [29]:
#Encoding the strings to Numericals
Numerics = LabelEncoder()

#Dropping the target variable and make it as a new frame
inputs=df.drop('Play',axis='columns')
target=df['Play']
target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [30]:
#Create the new dataframe
inputs['outlook_n']= Numerics.fit_transform(inputs['Outlook'])
inputs['Temp_n']= Numerics.fit_transform(inputs['Temp'])
inputs['Hum_n']= Numerics.fit_transform(inputs['Humidity'])
inputs['win_n']= Numerics.fit_transform(inputs['Wind'])
inputs

     Outlook  Temp Humidity Wind  outlook_n  Temp_n  Hum_n  win_n
0      Rainy   Hot     High    f          1       1      0      0
1      Rainy   Hot     High    t          1       1      0      1
2   Overcast   Hot     High    f          0       1      0      0
3      Sunny  Mild     High    f          2       2      0      0
4      Sunny  Cool   Normal    f          2       0      1      0
5      Sunny  Cool   Normal    t          2       0      1      1
6   Overcast  Cool   Normal    t          0       0      1      1
7      Rainy  Mild     High    f          1       2      0      0
8      Rainy  Cool   Normal    f          1       0      1      0
9      Sunny  Mild   Normal    f          2       2      1      0
10     Rainy  Mild   Normal    t          1       2      1      1
11  Overcast  Mild     High    t          0       2      0      1
12  Overcast   Hot   Normal    f          0       1      1      0
13     Sunny  Mild     High    t          2       2      0      1

In [31]:
#Dropping the string values
inputs_n=inputs.drop(['Outlook','Temp','Humidity','Wind'],axis='columns')
inputs_n

    outlook_n  Temp_n  Hum_n  win_n
0           1       1      0      0
1           1       1      0      1
2           0       1      0      0
3           2       2      0      0
4           2       0      1      0
5           2       0      1      1
6           0       0      1      1
7           1       2      0      0
8           1       0      1      0
9           2       2      1      0
10          1       2      1      1
11          0       2      0      1
12          0       1      1      0
13          2       2      0      1

In [32]:
#Applying GaussianNB
classifier = GaussianNB()
classifier.fit(inputs_n,target)

GaussianNB()

In [33]:
#Pridicting the accuracy
classifier.score(inputs_n,target)

0.8571428571428571

In [35]:
#Prediction
classifier.predict([[1,0,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['no'], dtype='<U3')